# Always-ignore dirs #
# ####################
_gh_pages
node_modules
jspm_packages
bower_components
vendor
build
dest
dist
lib-cov
coverage
.nyc_output
nbproject
cache
temp
tmp

# npm >=5 lock file, we use Yarn!
package-lock.json

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Packages #
# ##########
*.7z
*.dmg
*.iso
*.jar
*.rar
*.tar
*.zip

# node-waf configuration
.lock-wscript

# OS, Logs and databases #
# #########################
logs
*.log
npm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.dat
*.sql
*.sqlite
*~
~*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Editors
*.idea

# Another files #
# ###############
Icon?
.DS_Store*
Thumbs.db
ehthumbs.db
Desktop.ini
.directory
._*
lcov.info

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional REPL history
.node_repl_history

# Optional eslint cache
.eslintcache

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
